﻿
.main-slide-item {
    position: relative;
    /*min-height: 515px;*/
    outline: none !important;
}
@media(max-width:767px) {
    .slide-desc-outer{
        width:100%;
        text-align:center;
    }
    .slide-desc h4 span:nth-child(1){
        width:100%;
        display:block;
        margin-bottom:10px;
    }
    .slide-desc h5 span{
        font-size:40px!important;
    }
}

.contact-body {
    margin-top: 45px;
    margin-bottom: 60px;
}

.header h5 {
    font-family: OpenSans-Light, Arial,sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #3a3a3a;
}

.header h1 {
    font-family: OpenSans-ExtraBold, Arial,sans-serif;
    color: #3a3a3a;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 30px;
}

.content div {
    font-family: OpenSans-Light, Arial,sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
}
@media(max-width:420px){
    .contact-header{
        text-align:center;
    }
}


.contact-address {
    text-align: center;
    margin-top:45px;
}

    .contact-address i {
        font-size: 55px;
        color: #b8a27e;
        margin-bottom: 10px;
        float: left;
        height: 65px;
        width: 50px;
        text-align: left;
    }
@media(max-width:767px){
    .contact-address i{
        display:none;
    }
}
    .contact-address p {
        font-family: Lato-Regular,Arial,sans-serif;
        font-size: 14px;
        text-align: left;
        margin-bottom: 5px;
        line-height: 1.3;
    }






.block-map {
    /*background-image: url('../images/publics/contact.png');*/
    display: block;
    width: 100%;
    height: 382px;
}


.contact-mess {
    margin-top: 100px;
}

.contact-mess-header h2 {
    font-family: Lato-Black,Arial,san-serif;
    font-size: 18px;
    color: #000;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

    .contact-mess-header h2:after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: -40px;
        margin: 0 auto;
        left: 0;
        width: 72%;
        background: #b8a27e;
    }

@media(max-width:767px) {
    .contact-mess {
        margin-top: 65px;
    }

    .contact-address p {
        text-align: center;
    }
}

@media(max-width:479px) {
    .contact-mess {
        margin-top: 45px;
    }

    .contact-mess-header h2 {
        font-size: 20px;
    }

    .contact-address h4 {
        text-align: center;
    }

    .contact-mess-header h2:after {
        bottom: -25px;
    }

    .contact-address .col-xs-6 {
        width: 100%;
    }
}

.form-horizontal {
    margin-top: 35px;
}

    .form-horizontal .form-group {
        margin-right: 0;
        position: relative;
    }

    .form-horizontal textarea {
        height: 260px;
    }

@media(max-width:767px) {
    .form-horizontal {
        margin-top: 15px;
    }

        .form-horizontal .form-group {
            margin-right: -15px;
        }

        .form-horizontal .col-sm-6 {
            padding: 0;
        }
}

.form-horizontal .form-control {
    border-radius: 0;
    border-color: #e6e6e6;
    box-shadow: none;
    min-height: 40px;
}

    .form-horizontal .form-control:focus {
        outline: none;
        background-color: #f7f7f7;
    }


.bt-send {
    font-family: Lato-Bold,Arial,sans-serif;
    font-size: 12px;
    float:right;
    background-color:transparent;
    margin-top:30px;
    border: 1px solid #000;

}
.read-more .plush{
    margin-top:-2px;
}
.bt-send:hover {
    background-color: #fff;
    border: 1px solid #b8a27e;
}

button:focus {
    outline: none;
}

@media(max-width:767px) {
    button {
        width: auto;
        margin: 30px auto;
        display: block;
    }
    .form-horizontal .form-group{
        margin:0 0 10px 0;
    }
}


.has-success .form-control:focus {
    border-color: #e6e6e6;
    box-shadow: none;
}

.glyphicon-ok {
    position: absolute;
    right: 10px;
    top: 10px;
    color: green;
}

.glyphicon-remove {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #b94a48;
}

.help-block {
    color: #b94a48;
}
