﻿/*===main slide===*/
.slide-desc {
    margin: 60px 0 0 0;
    padding: 35px 0 100px 0;
    border-top: 5px solid #b8a27e;
    border-bottom: 1px solid #b8a27e;
}

.header h1 {
    font-size: 30px;
}

@media(max-width:991px) {
    /*.slide-desc {
        text-align: center;
    }*/
}

@media(max-width:767px) {
    /*.slide-desc {
        margin-top: 200px;
    }*/
}

.slide-desc h1 {
    font-family: OpenSans-ExtraBold, Arial, sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
}

.slide-desc h3 {
    font-size: 32px;
    margin: 3px 0 0 0;
}

.slide-desc h5 {
    margin: 0;
}

@media(max-width:767px) {
    .slide-desc h1 {
        line-height: 62px;
    }
}

@media(max-width:479px) {
    .slide-desc h1 {
        line-height: 48px;
        font-size: 36px;
    }
}

.slide-desc h4 {
    text-transform: uppercase;
    color: #ffe99b;
    font-family: Lato-Light, Arial, sans-serif;
    font-size: 21px;
    margin-bottom: 0;
}

@media(max-width:767px) {


    .slide-desc {
        margin: 25px 0 0 0;
        padding: 35px 0 60px 0;
    }

    .main-slide .slick-dots {
     
    }
}

@media(max-width:479px) {
    .slide-desc-outer {
        width: 100%;
    }

    .slide-desc h3 {
        font-size: 26px !important;
    }

    .main-slide .slick-dots {
    
    }
}

@media(max-width:420px) {
    .main-slide .slick-dots {
        display: none !important;
    }

    .overlay-content li > a {
        padding: 12px 0 12px 0;
    }

    .overlay-sub-content {
        padding: 12px 0 12px 0;
    }

        .overlay-sub-content li > a {
            padding: 3px 0 !important;
        }
}

@media(max-width:320px) {


    .slide-desc-outer {
        text-align: center;
    }

    .slide-desc h3 {
        font-size: 22px !important;
    }


    .slide-desc {
        padding: 35px 0 40px 0;
    }

        .slide-desc h5 span:nth-last-child(1) {
            font-size: 16px !important;
        }

    .bootstrap-select > .dropdown-toggle {
        padding-right: 10px;
        border: none;
    }

    .bootstrap-select.btn-group .dropdown-toggle .caret {
        right: 3px;
    }

    .logo {
        padding-left: 35px;
    }

    .dropdown-menu {
        right: 0;
    }

    .sele-lang {
        position: absolute;
        top: 0;
        right: 0;
    }

    .dropdown-menu > li > a {
        padding: 0px 10px;
    }
}

.slide-desc-outer {
    position: absolute;
    top: 30px;
	display:none;
}

.main-slide-item:focus {
    outline: none !important;
}

@media(max-width:991px) {
    /*.main-slide-item {
        min-height: 650px;
    }*/
}

@media(max-width:479px) {
    /*.main-slide-item {
        min-height: 100vh;
    }*/
}

.slick-dots {
    padding: 0 15px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots li {
    margin: 0px;
}

    .slick-dots li button:before {
        font-size: 7px;
        color: #fff;
    }

    .slick-dots li.slick-active button:before {
        color: #b8a27e;
    }

.main-slide .slick-dots {
    bottom: 20px;
}
/*===who we are===*/
.who-we-are-block {
    /*min-height: 740px;
    background-image: url('../images/publics/who-we-are-bg.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 133.33333333% 50%;*/
    padding: 80px 0 100px 0;
}


@media(max-width:1199px) {
    .header h1 {
        font-size: 24px;
    }
}

@media(max-width:991px) {
    .who-we-are-block {
        background: none;
        background-image: none;
        padding: 50px 0 60px 0;
    }
}

.wwa-content {
    /*padding-top: 86px;*/
}

@media(max-width:1199px) {
    .wwa-content {
        /*padding-top: 30px;*/
    }
}

@media(max-width:767px) {
    .who-we-are-block {
        padding: 40px 0 60px 0;
    }

    .wwa-content {
        padding-top: 0px;
    }
}

@media(max-width:420px) {
    .wwa-content, .content h5, .header h5, .header h1 {
        text-align: center;
    }

        .wwa-content .content div {
            text-align: justify;
        }
}

.header h1 {
    font-family: OpenSans-ExtraBold, Arial,sans-serif;
    color: #3a3a3a;
    text-transform: uppercase;
    margin-top: 0;
}

.header h5 {
    font-family: OpenSans-Light, Arial,sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #3a3a3a;
}

@media(max-width:320px) {
    .header h1 {
        font-size: 30px;
        margin: 25px 0;
    }
}

.content h5 {
    font-family: OpenSans-Light, Arial,sans-serif;
    color: #3a3a3a;
    font-size: 16px;
    width: 90%;
    margin: 20px 0 30px 0;
    line-height: 1.2;
}

@media(max-width:1199px) {
    .content h5 {
        width: 70%;
    }
}

@media(max-width:767px) {
    .content h5 {
        width: 100%;
    }
}

.content div {
    font-family: OpenSans-Light, Arial,sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 1.5;
    width: 90%;
    margin-bottom: 30px;
}

@media(max-width:767px) {
    .content div {
        width: 100%;
    }
}

.wwa-content-outer img {
    padding: 8px;
    border: 1px solid #fff;
    box-shadow: 0px 3px 15px -3px #ccc;
}

/*.img-elm{
    overflow:hidden;
    display:inline-block;
}*/
.img-centrer img {
    height: 332px;
    width: 100%;
}

.img-right img {
    width: 100%;
    margin-bottom: 6px;
    height: 162px;
}



a.wwa-read-more {
    /*display: block;*/
    text-decoration: none;
    color: #000;
    background: #fff;
    border: 1px solid #808080;
    transition: 0.3s;
}

    a.wwa-read-more:hover {
        /*text-decoration: none;
        color: #b8a27e;
        background: #fff;*/
        border: 1px solid #b8a27e;
    }

@media(max-width:767px) {
    a.wwa-read-more {
        margin: 0 auto;
    }
}

.thin-line {
    width: 170px;
    height: 1px;
    background: #63a744;
}
/*===services===*/

.content-wrap {
    margin: 45px 0;
}

.item-header .icon {
    display: inline-block;
    padding: 7px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 20px;
}

.item-header .title h4 {
    font-family: OpenSans-Bold, Arial,sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
}

    .item-header .title h4::before {
        content: '';
        display: block;
        border: 2px solid #b8a27e;
        height: 4px;
        width: 35px;
        position: absolute;
        bottom: -15px;
    }

.item-content {
    margin-top: 25px;
    text-align: justify;
}

@media(max-width:991px) {
    .content-wrap {
        /*margin-top: 0px;*/
    }
}


.service-read-more {
    display: block;
    color: #fff;
    background: #63965e;
    border: 1px solid #fff;
    transition: 0.3s;
    text-decoration: none;
    margin: 0 auto;
}

.read-more-wrap {
    margin-top: 35px;
}

.service-read-more:hover {
    color: #63965e;
    background: #fff;
    border: 1px solid #fff;
    text-decoration: none;
}

.our-service-block {
    background-image: url('../images/publics/bg-service-home.png');
    background-repeat: no-repeat;
    background-position: 55% 30%;
    padding: 80px 0 80px 0;
    background-color: #fafafa;
}

.our-brand-block {
    background-image: url('../images/publics/bg-brand-home.jpg');
    background-repeat: no-repeat;
    background-position: 55% 30%;
    padding: 80px 0 80px 0;
    background-color: #fafafa;
    background-size: 100%;
}
.our-brand-block .icon{
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    border: none;
}
.our-brand-block .icon img{
    width: 70%; 
}
.title a{
    color:#333 ;
}
/* @media (min-width: 768px){
    .our-brand-block .content-wrap {
        max-width: 750px;
    }
}

@media (min-width: 992px){
    .our-brand-block .content-wrap {
        max-width: 970px;
    }
}

@media (min-width: 1200px){
    .our-brand-block .content-wrap{
        max-width: 1170px
    }
}
 */
@media(max-width:1199px) {
    .our-service-block {
        padding: 40px 0 60px 0;
        background-position: 67% 300%;
    }
    .our-brand-block {
        padding: 40px 0 60px 0;
        background-position: 67% 300%;
    }
    .our-brand-block .icon img{
        width: 100%; 
    }
}

@media(max-width:991px) {
    .our-service-block {
        padding: 40px 0 70px 0;
        background-image: none;
    }
    .our-brand-block {
        padding: 40px 0 70px 0;
        background-image: none;
    }
    
}

@media(max-width:767px) {
    .content-wrap {
        margin: 10px 0;
    }

        .content-wrap .item {
            margin-bottom: 25px;
        }

    .item-header .icon {
        margin-bottom: 10px;
    }
}

@media(max-width:420px) {
    .content-wrap {
        text-align: center;
    }

    .item-header .title h4::before {
        left: 44%;
    }

    .read-more-wrap {
        text-align: center;
    }
}
/*===products block===*/
.product-block {
    background-image: url('../images/publics/bg-product-home.png');
    background-repeat: no-repeat;
    /*background-position: 60% 200%;*/
    padding: 70px 0 70px 0;
}

    .product-block .header {
    }

        .product-block .header h1, .product-block .header h5, .product-block .content h5 {
            color: #fff;
        }

    .product-block .content h5 {
        font-family: Lato-Light, Arial,sans-serif;
        font-size: 16px;
    }



.lst-ctg {
    list-style-type: none;
    width: 250px;
    padding: 0;
    background-color: #fff;
    margin: 30px 0 45px 0;
}

    .lst-ctg li {
        padding: 10px 0 10px 35px;
        text-transform: uppercase;
        font-family: OpenSans, Arial,sans-serif;
        font-size: 12px;
        position: relative;
        border-bottom: 1px solid #b8a27e;
        transition: 0.3s;
    }

        .lst-ctg li.active {
            background-color: #000;
            color: #fff;
        }

        .lst-ctg li:before {
            font-family: FontAwesome;
            content: '\f111';
            font-size: 9px;
            color: #b8a27e;
            position: absolute;
            left: 15px;
            bottom: 34%;
        }

        .lst-ctg li:hover {
            cursor: pointer;
            background-color: #000;
            color: #fff;
        }

.tabcontent {
    display: none;
}

    .tabcontent.active {
        display: block !important;
    }

    .tabcontent .slide-item {
        padding: 6px;
        border: 1px solid #ccc;
        background-color: #fff;
        position: relative;
    }


    .tabcontent .slick-dots {
        text-align: center;
        bottom: -40px;
    }

    .tabcontent .slick-prev {
        left: 6px;
        z-index: 9;
    }

    .tabcontent .slick-next {
        right: 6px;
        z-index: 9;
    }

    .tabcontent .slick-prev, .tabcontent .slick-next {
        width: 25px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.70);
    }

        .tabcontent .slick-prev:hover, .tabcontent .slick-next:hover {
            background-color: #fff;
        }

        .tabcontent .slick-prev:before, .tabcontent .slick-next:before {
            font-family: FontAwesome;
            font-size: 36px;
            color: #000;
        }

        .tabcontent .slick-prev:before {
            content: '\f104';
        }

        .tabcontent .slick-next:before {
            content: '\f105';
        }

    .tabcontent .title-slide {
        padding: 6px 35px 6px 15px;
        background-color: rgba(0, 0, 0, 0.80);
        display: inline-block;
        position: absolute;
        bottom: 6px;
        left: 6px;
    }

        .tabcontent .title-slide h4 {
            font-family: OpenSans-Bold, Arial,sans-serif;
            text-transform: uppercase;
            font-size: 16px;
            color: #fff;
            margin-bottom: 5px;
        }

        .tabcontent .title-slide p {
            font-family: OpenSans-Light, Arial,sans-serif;
            text-transform: uppercase;
            font-size: 8px;
            color: #b8a27e;
            letter-spacing: 6px;
            word-spacing: 3px;
        }

@media(max-width:991px) {
    .product-block {
        padding-top: 40px;
        background-size: auto 100%;
    }

    .lst-ctg {
        width: auto;
        text-align: center;
        background-color: transparent;
        margin-bottom: 35px;
    }

        .lst-ctg li {
            display: inline-block;
            background-color: #fff;
            border: 1px solid #b8a27e;
            padding: 10px 35px 10px 35px;
            margin-bottom: 10px;
        }

            .lst-ctg li:before {
                bottom: 11px;
            }

    .product-block .read-more-wrap {
        display: none;
    }
}

@media(max-width:420px) {
    .lst-ctg li {
        display: block;
        margin-bottom: 0;
    }

    .tabcontent .title-slide {
        padding: 2px 35px 0px 15px;
        right: 6px;
    }

        .tabcontent .title-slide h4 {
            font-size: 13px;
            margin-bottom: 5px;
        }
}

.product-block .pro-item {
}

@media(max-width:1199px) {
    .product-block .pro-item {
    }
}

@media(max-width:479px) {
    .product-block .pro-item {
    }
}



.product-block .pro-item:nth-child(4n+0) {
}

.product-block .lst-product {
}

.product-block .pro-item img {
}

.pro-nav-tabls {
    text-align: center;
    margin: 35px 0 25px 0;
    border: none;
}

    .pro-nav-tabls > li > a > .character-before, .pro-nav-tabls > li > a > .character-after {
        display: none;
    }

    .pro-nav-tabls > li > a {
        color: #727272;
    }

@media(max-width:479px) {
    .pro-nav-tabls > li > a {
        padding: 5px;
    }
}

.pro-nav-tabls > li.active > a, .pro-nav-tabls > li.active > a:hover, .pro-nav-tabls > li.active > a:focus {
    border: none;
    color: #63965e;
}

    .pro-nav-tabls > li.active > a > .character-after, .pro-nav-tabls > li.active > a > .character-before {
        color: #727272;
        display: inline;
    }

.pro-nav-tabls > li {
    float: none;
    display: inline-block;
}

.overlay-bg {
    background: rgba(0, 0, 0, 0.6);
    width: 288px;
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.3s;
}

.product-block .pro-item:hover > .overlay-bg {
}

.pro-item-title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: Lato-Regular, Arial,sans-serif;
    width: 288px;
    height: 65px;
    line-height: 65px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.8s;
}

.product-block .pro-item:hover > .pro-item-title {
}

.pro-see-more .read-more.pro-read-more-btn {
    display: block;
    text-decoration: none;
    color: #fff;
    background: #63965e;
    border: 1px solid #63965e;
    transition: 0.3s;
    margin: 15px auto;
}

    .pro-see-more .read-more.pro-read-more-btn:hover {
        text-decoration: none;
        color: #63965e;
        background: #fff;
        border: 1px solid #63965e;
    }

.nav-tabs > li > a:hover {
    border-color: #fff;
    background-color: transparent;
    color: #63965e;
}



/*===ttestimonals===*/

.testimonials {
    display:none;
    padding: 70px 0 100px 0;
}
.tmn-slide{
    position:relative;
}
.tmn-item {
    text-align: center;
}
.tmn-item:focus{
    outline:none;
}
.icon-comma {
    width: 50px;
    height: auto;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;
}

.tmn-content {
    font-family: OpenSans-Light, Arial,sans-serif;
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
}

.avatar {
    text-align: left;
    display: inline-block;
    width: 100%;
}

    .avatar img {
        float: left;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 15px;
    }

    .avatar .cust-name {
        font-family: OpenSans-Light, Arial,sans-serif;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .avatar .cust-position {
        font-family: OpenSans-Light, Arial,sans-serif;
        font-size: 14px;
        color:#ff8e26
    }

     .tmn-slide .slick-prev {
        z-index: 9;
        margin-left:15px;
    }

   .tmn-slide .slick-next {
        z-index: 9;
        margin-right:15px;
    }

    .tmn-slide .slick-prev, .tmn-slide .slick-next {
        height: 50px;
    }

        .tmn-slide .slick-prev:hover, .tmn-slide .slick-next:hover {
            background-color: #fff;
        }

        .tmn-slide .slick-prev:before, .tmn-slide .slick-next:before {
            font-family: FontAwesome;
            font-size: 50px;
            color: #000;
        }

        .tmn-slide .slick-prev:before {
            content: '\f104';
        }

        .tmn-slide .slick-next:before {
            content: '\f105';
        }

        .tmn-slide .slick-dots li button:before{
            color: #000;
        }
       .tmn-slide .slick-dots li.slick-active button:before, .tmn-slide .slick-dots li button:hover:before,.tmn-slide .slick-dots li button:focus:before{
           color:#b8a27e
        }
      .tmn-slide .slick-dots{
          text-align:center;
          padding:0;
          position:static;
          margin-top:20px;
      }

      @media(max-width:479px){
         .tmn-slide .slick-list{
             margin:0 -15px;
          }
         .icon-comma{
             display: none!important;
         }
      }