﻿@font-face {
    font-family: 'Lato-Black';
    src: url('../../fonts/WebFont/Lato-Black/Lato-Black.ttf') format('truetype'), url('../../fonts/WebFont/Lato-Black/Lato-Black.svg') format('svg'), url('../../fonts/WebFont/Lato-Black/Lato-Black.eot') format('embedded-opentype'), url('../../fonts/WebFont/Lato-Black/Lato-Black.woff') format('woff');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../../fonts/WebFont/Lato-Bold/Lato-Bold.ttf') format('truetype'), url('../../fonts/WebFont/Lato-Bold/Lato-Bold.woff') format('woff'), url('../../fonts/WebFont/Lato-Bold/Lato-Bold.svg') format('svg'), url('../../fonts/WebFont/Lato-Bold/Lato-Bold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../../fonts/WebFont/Lato-Light/Lato-Light.woff') format('woff'), url('../../fonts/WebFont/Lato-Light/Lato-Light.ttf') format('truetype'), url('../../fonts/WebFont/Lato-Light/Lato-Light.svg') format('svg'), url('../../fonts/WebFont/Lato-Light/Lato-Light.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../../fonts/WebFont/Lato-Regular/Lato-Regular.ttf') format('truetype'), url('../../fonts/WebFont/Lato-Regular/Lato-Regular.svg') format('svg'), url('../../fonts/WebFont/Lato-Regular/Lato-Regular.eot') format('embedded-opentype'), url('../../fonts/WebFont/Lato-Regular/Lato-Regular.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../../fonts/WebFont/OpenSans/OpenSans-Regular.ttf') format('truetype'), url('../../fonts/WebFont/OpenSans/OpenSans-Regular.woff') format('woff'), url('../../fonts/WebFont/OpenSans/OpenSans-Regular.svg') format('svg'), url('../../fonts/WebFont/OpenSans/OpenSans-Regular.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../../fonts/WebFont/OpenSans-Light/OpenSans-Light.ttf') format('truetype'), url('../../fonts/WebFont/OpenSans-Light/OpenSans-Light.woff') format('woff'), url('../../fonts/WebFont/OpenSans-Light/OpenSans-Light.svg') format('svg'), url('../../fonts/WebFont/OpenSans-Light/OpenSans-Light.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../../fonts/WebFont/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype'), url('../../fonts/WebFont/OpenSans-Bold/OpenSans-Bold.woff') format('woff'), url('../../fonts/WebFont/OpenSans-Bold/OpenSans-Bold.svg') format('svg'), url('../../fonts/WebFont/OpenSans-Bold/OpenSans-Bold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../../fonts/WebFont/OpenSans-ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'), url('../../fonts/WebFont/OpenSans-ExtraBold/OpenSans-ExtraBold.woff') format('woff'), url('../../fonts/WebFont/OpenSans-ExtraBold/OpenSans-ExtraBold.svg') format('svg'), url('../../fonts/WebFont/OpenSans-ExtraBold/OpenSans-ExtraBold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'BrushScriptMT';
    src: url('../../fonts/BrushScriptMT.ttf') format('truetype'), url('../../fonts/BrushScriptMT.woff') format('woff'), url('../../fonts/BrushScriptMT.svg') format('svg'), url('../../fonts/brush_script_mt.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../../fonts/FontAwesome.otf') format('opentype'), url('../../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.svg') format('svg'), url('../../fonts/fontawesome-webfont.ttf') format('truetype'), url('../../fonts/fontawesome-webfont.woff') format('woff');
}

body{
    overflow-x:hidden;
}

.block-breadcrumb {
    display: block;
    margin: 0;
    position:absolute;
    width:100%;
    z-index:4;
}
.slide-item-bg {

}

    .slide-item-bg img {
        margin:0 auto;
		max-width:100%;
    }
.slide-desc-outer {
    position: absolute;
    top: 30px;
}
.slide-desc {
    margin: 60px 0 0 0;
    padding: 35px 0 100px 0;
}
.breadcrumb {
    margin: 0;
    padding: 35px 15px;
    background-color: transparent;
}

    .breadcrumb li a, .breadcrumb li {
        font-family: OpenSans-Light,Arial,sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #838383;
        text-decoration: none;
    }

        .breadcrumb li.active {
            color: #fff;
            font-size: 14px;
            font-family: OpenSans-Light,Arial,sans-serif;
            font-weight: 600;
            text-transform: none;
        }

    .breadcrumb > li + li:before {
        font-family: FontAwesome;
        color: #b8a27e;
        content: "\f111";
        font-size: 9px;
        padding:0 10px;
    }


.read-more, .a.wwa-read-more {
    display: inline-block;
    text-transform: uppercase;
    font-family: Lato-Bold, Arial,sans-serif;
    font-size: 12px;
    width: auto;
    height: 30px;
    display: inline-block;
    line-height: 30px;
}

    .read-more .plush, .a.wwa-read-more .plush {
        border-right: 1px solid #808080;
        text-align: center;
        height: 29px;
        display: inline-block;
        width: 30px;
        font-size: 18px;
    }

    .read-more .bt-text, .a.wwa-read-more .bt-text {
        text-align: center;
        padding: 0 15px;
    }





body {
    padding: 0;
    margin: 0;
    font-size: 14px;
}
/*===header===*/
header {
    position: relative;
    transition:0.3s;
}


header.fixed{
    position:fixed;
    height:60px;
    width:100%;
    background-color:#fff;
    box-shadow:1px 1px 5px 0px #ccc;
    z-index:99;
    top:0;
}

header.fixed .nav-top{
    padding:8px 0;
}




footer {
    position: relative;
}

@media(max-width:320px) {
    footer {
        margin-top: 38px;
    }
}


.footer-outer {
    background-color: #f7f7f7;
    padding: 40px 0 50px;
}

.ft-address p {
    font-family: Lato-Regular, Arial,sans-serif;
    font-size: 14px;
    color:#000;
    margin-bottom:5px;
}



.header-outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.header-fix {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background: rgba(0, 0, 0, 0.9);
}

    .header-fix .lst-nav {
        padding: 15px 0 0 0;
    }

    .header-fix .logo {
        padding-top: 15px;
    }

.logo img {
    width: 170px;
    height: 30px;
    margin-top: -8px;
}


.logo {
    display: inline-block;
    padding-left: 50px;
}

.lst-nav {
    list-style: none;
    padding: 30px 0 0 0;
    text-align: right;
}

    .lst-nav .navigation .dropdown-menu.bubble {
        position: relative;
        width: 180px;
        padding: 0px;
        background: #FFFFFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

        .lst-nav .navigation .dropdown-menu.bubble:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 0 8px 8px;
            border-color: #FFFFFF transparent;
            display: block;
            width: 0;
            z-index: 1;
            top: -8px;
            left: 28px;
        }

.navigation > .dropdown-menu {
    padding: 0;
    margin: 0;
    background: 0;
    box-shadow: none;
    border: none;
}

.navigation.open > .dropdown-menu {
    display: block;
}

.navigation > .dropdown-menu > .dropdown-menu.bubble > li > a {
    text-align: left;
}

@media(max-width:767px) {
    .slide-desc-outer{
        right:0;
    }
    .navigation > .dropdown-menu {
        position: relative;
    }

        .navigation > .dropdown-menu > .dropdown-menu {
            position: relative;
            min-width: 0;
            width: 100%;
        }
}

.navigation > .dropdown-menu > .dropdown-menu.bubble > li > a:hover {
    background: #63965e;
}

.navigation.open > .dropdown-menu > .dropdown-menu.bubble {
    display: block;
}

.lst-nav .navigation {
    display: inline-block;
}

    .lst-nav .navigation > .inside-nav {
        text-decoration: none;
        font-family: Lato-Bold, Arial, sans-serif;
        text-transform: uppercase;
        color: #fff;
        padding: 0px 10px;
        font-size: 14px;
        cursor: pointer;
    }

@media(max-width:1199px) {
    .lst-nav .navigation > .inside-nav {
        padding: 0px 10px;
    }
}

.lst-nav .navigation > .inside-nav:not(.select-language):hover {
    color: #63965e;
}

.lst-nav .navigation > .inside-nav.select-language .bs-caret {
    color: #fff;
}

    .lst-nav .navigation > .inside-nav.select-language .bs-caret .caret {
        border-top: 4px solid #fff;
        border-right: 4px solid transparent;
        border-bottom: 0 dotted;
        border-left: 4px solid transparent;
    }

.lst-nav .navigation > .inside-nav.select-language .dropdown-toggle:active,
.lst-nav .navigation > .inside-nav.select-language .dropdown-toggle:focus {
    outline: none !important;
}

.nav-select-type {
    background: transparent;
    color: #5c5c5c;
    border: 1px solid #e1e1e1;
    padding: 1px 6px;
    margin-top: 10px;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline-offset: 0;
}

.dropdown-menu > li > a:hover {
    background-color: #333;
}

.lst-nav .navigation > .inside-nav.select-language .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #63965e;
    color: #fff;
}
/*===overlay menu===*/
.sidenav {
    height: 380px;
    width: 0;
    position: fixed;
    z-index: 999991;
    right: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.open-sidenav {
    position: fixed;
    top: 5px;
    left: 10px;
    color: #fff;
    z-index: 99999;
    font-size: 35px;
    cursor: pointer;
}

.lst-nav-overlay {
    list-style: none;
    padding: 0 0 0 15px;
}

    .lst-nav-overlay .navigation > .inside-nav {
        text-decoration: none;
        font-family: Lato-Bold, Arial, sans-serif;
        text-transform: uppercase;
        color: #fff;
        padding: 5px 10px;
        font-size: 14px;
        display: inline-block;
    }

        .lst-nav-overlay .navigation > .inside-nav.select-language {
            margin-top: 5px;
        }
/*===footer===*/
.margin-lr-auto {
    margin: 0 auto;
    float: none;
}

.ft-line {
    width: 75%;
    height: 4px;
    background: #000;
    margin: 30px auto;
}

.ft-address {
    font-family: Lato-Regular, Arial, sans-serif;
    margin: 0 auto;
    line-height: 24px;
    color: #fff;
    text-align: center;
}

.ft-social {
    text-align: center;
}

.lst-soc {
    list-style: none;
    padding: 0;
}

    .lst-soc li {
        display: inline-block;
        margin:0 5px;
    }

.ft-link-soc {
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #000 !important;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

    .ft-link-soc:focus, .ft-link-soc:active {
        color: #000;
        text-decoration: none;
    }
@media(max-width:479px){
    .ft-address p{
        font-size:12px;
    }
}
/*===header footer background===*/
.header-bg {
    min-height: 248px;
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.footer-bg {
    min-height: 313px;
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}



.nav-top {
    padding: 25px 0;
    position: relative;
    height: 92px;
}

.nav-fixed {
    position: fixed;
    z-index: 999;
}


.nav-btn {
    display: inline-block;
}

.icon-bt {
    content: '';
    cursor: pointer;
    font-size: 30px;
}

    .icon-bt:before {
        transition: 0.3s;
    }

.open-nav-btn .icon-bt:before {
    font-family: 'FontAwesome';
    content: '\f0c9';
    font-size: 30px;
    color: #000;
}

.close-nav-btn .icon-bt:before {
    /*content: '\&#x2715;';*/
    font-size: 30px;
    color: #fff;
}

.nav-content {
    display: inline-block;
}

.sele-lang {
    float: right;
}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 9; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.94);
    overflow-x: hidden;
    transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    text-align: center;
    margin-top: 75px;
    list-style-type: none;
    text-transform: uppercase;
    /*height:100vh;
    overflow-y:auto;*/
}

.overlay-sub-content {
    list-style-type: none;
    text-align: center;
    padding: 20px 0 15px 0;
}

.overlay-content li, .li-sub-content > a {
    border-bottom: 1px solid #383737;
}

    .overlay-content li > a {
        font-family: Lato-Bold,'Times New Roman', Times, serif;
        font-size: 16px;
        color: #fff;
        padding: 20px 0 15px 0;
        transition: 0.3s;
    }

    .overlay-content li:hover a {
        color: #b8a27e;
    }

.overlay-sub-content li {
    border: none;
}

    .overlay-sub-content li > a {
        font-size: 12px;
        font-weight: 500;
        padding: 6px 0;
    }

        .overlay-sub-content li > a:before {
            content: '[ ';
            font-size: 16px;
            opacity: 0;
        }

    .overlay-sub-content li:hover > a:before {
        opacity: 1;
    }

    .overlay-sub-content li > a:after {
        content: ' ]';
        font-size: 16px;
        opacity: 0;
    }

    .overlay-sub-content li:hover > a:after {
        opacity: 1;
    }

    .overlay-sub-content li:hover a {
        color: #b8a27e !important;
    }

.li-sub-content:hover a {
    color: #fff !important;
}
/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

    /* When you mouse over the navigation links, change their color */
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.b2b-logo{
    display: inline-block;
    padding-left: 30px;
}

.b2b-logo img{
    max-height: 40px;
    width: auto;
    margin-top: -14px;
}

.modal-slider-image .modal-content{
    box-shadow: none;
    border: none;
    background-color: #fff;
    border-radius: 0;
}

.modal-slider-image .modal-dialog{
    width: 80%;
}

.modal-slider-image .slick-next {
    right: -10px;
}
.modal-slider-image .slick-prev {
    left: -10px;
}

.margin-bottom-30px{
    margin-bottom: 30px;
}