﻿.client-body {
    margin-top: 50px;
    margin-bottom: 65px;
}

.main-slide-item {
    position: relative;
    /*min-height: 515px;*/
    outline: none !important;
}

@media(max-width:767px) {
    .slide-desc-outer {
        width: 100%;
        text-align: center;
    }

    .slide-desc h4 span:nth-child(1) {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    .slide-desc h5 span {
        font-size: 40px !important;
    }
}

.header h5 {
    font-family: OpenSans-Light, Arial,sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #3a3a3a;
}

.header h1 {
    font-family: OpenSans-ExtraBold, Arial,sans-serif;
    color: #3a3a3a;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 30px;
}

.content div {
    font-family: OpenSans-Light, Arial,sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
}

@media(max-width:420px){
    .contact-header{
        text-align:center;
    }
}


.client-header h2 {
    font-family: Lato-Black,Arial,sans-serif;
    font-size: 48px;
    color: #000;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
}

    .client-header h2:after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: -40px;
        margin: 0 auto;
        left: 0;
        width: 50%;
        background: #63a744;
    }

.client-title {
    font-family: Lato-Light,Arial,sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: justify;
}

.client-desc p {
    font-family: Lato-Light,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.block-slider {
    position: relative;
    margin-top: 30px;
    margin-bottom: 45px;
}

.slick-slide:focus {
    outline: none;
}

.img-item {
    padding: 12px 10px;
}

.slider-item{
    padding: 12px 10px;
}
    .slider-item img {
        width: auto;
        box-shadow: none;
        max-width: 100%;
        height: 100%;
        margin: auto;
    }

/* .slick-next {
    content: '';
    right: 0;
    top: -40px;
    z-index: 1;
}

.slick-prev {
    content: '';
    left: 100%;
    top: -40px;
    z-index: 1;
    -moz-transform: translate(-70px, -15px);
    -ms-transform: translate(-70px, -15px);
    -o-transform: translate(-70px, -15px);
    -webkit-transform: translate(-70px, -15px);
    transform: translate(-70px, -15px);
} */

.slick-arrow, .slick-arrow:hover, .slick-arrow:active, .slick-arrow:focus {
    width: 30px;
    height: 30px;
}

.slick-next:before {
    font-family: FontAwesome;
    content: '\f105';
    color: #000;
    font-size: 50px;
}

.slick-prev:before {
    font-family: FontAwesome;
    content: '\f104';
    color: #000;
    font-size: 50px;
}


.line {
    height: 2px;
    border-bottom: 2px solid #69c460;
}

@media(max-width:767px) {
    .client-title {
        margin-top: 45px;
    }

    .client-header h2:after {
        bottom: -22px;
    }

    .line {
        width: 50%;
        margin: 0 auto;
    }
}

@media(max-width:479px) {
    .client-header h2 {
        font-size: 40px;
    }

    .slick-next:before {
        font-size: 40px;
    }

    .slick-prev:before {
        font-size: 40px;
    }
}

@media(max-width:320px) {
    .client-header h2 {
        font-size: 32px;
    }

    .client-title {
        font-size: 20px;
    }

    .client-desc p {
        text-align: justify;
    }
}


/* Style the buttons that are used to open and close the accordion panel */
button.accordion.active:after {
    content: "\2212";
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom:15px;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        /* background-color: #ccc; */
    }

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.img-item img {
    width: 100%;
    box-shadow: 1px 1px 5px 1px rgba(204, 204, 204, 0.50);
}

.img-item img:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px #444;
}