﻿.service-body {
    margin-top: 50px;
    margin-bottom: 65px;
}

.main-slide-item {
    position: relative;
    /*min-height: 515px;*/
    outline: none !important;
}

@media(max-width:767px) {
    .slide-desc-outer {
        width: 100%;
        text-align: center;
    }

    .slide-desc h4 span:nth-child(1) {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    .slide-desc h5 span {
        font-size: 40px !important;
    }
}

.header h5 {
    font-family: OpenSans-Light, Arial,sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #3a3a3a;
}

.header h1 {
    font-family: OpenSans-ExtraBold, Arial,sans-serif;
    color: #3a3a3a;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 30px;
}

.service-name h2 {
    font-family: OpenSans-Bold,Arial,sans-serif;
    font-size: 24px;
    color: #3a3a3a;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    background-color: #f4f4f4;
    padding: 7px 15px;
    border-radius: 4px;
}

.service-item {
    margin-bottom: 95px;
}

    .service-item .service-img {
        width: 100%;
        border: 8px solid #fff;
        box-shadow: 1px 1px 5px 1px rgba(202, 202, 202, 0.73);
    }

.service-title {
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: OpenSans,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.3;
    text-align: justify;
}

.service-desc p {
    font-family: OpenSans,Arial,sans-serif;
    font-size: 13px;
    line-height: 21px;
    text-align: justify;
}

.service-tag {
    font-family: OpenSans-Light,Arial,sans-serif;
    font-size: 18px;
    color: #cacaca;
    margin:30px 0;
    text-transform:uppercase;
}

@media(max-width:767px) {

    /*.service-name h2 {
        font-size: 32px;
        border-bottom: 2px solid #63a744;
        padding-bottom: 20px;
    }

    .service-item {
        margin-bottom: 45px;
        text-align: center;
    }

        .service-item .service-img {
            display: none;
        }

    .service-title {
        margin-top: 30px;
    }

    .service-name h2:after {
        content: '';
        height: 0;
    }*/
}

@media(max-width:479px) {
    .service-desc p {
        text-align: justify;
    }
}

@media(max-width:420px) {
    .header h1, .header h5{
        text-align:center;
    }
    .service-item{
        text-align:center;
    }
}
.bt-send {
    font-family: 'Lato-Bold,Arial,sans-serif';
    font-size: 12px;
    float: left;
    background-color: transparent;
    margin-top: 30px;
    border: 1px solid #000;
}
.read-more, .a.wwa-read-more {
    display: inline-block;
    text-transform: uppercase;
    font-family: Lato-Bold, Arial,sans-serif;
    font-size: 12px;
    width: auto;
    height: 30px;
    display: inline-block;
    line-height: 30px;
}
.read-more .plush {
    margin-top: -2px;
}
.read-more .plush, .a.wwa-read-more .plush {
    border-right: 1px solid #808080;
    text-align: center;
    height: 29px;
    display: inline-block;
    width: 30px;
    font-size: 18px;
}
.read-more .bt-text,.read-more .plush{
    color: #343434;
}