﻿.body-content {
  font-family: 'Roboto',Helvetica Neue,sans-serif; }

.slick-slide:focus {
  outline: none; }

.has-error .help-block, .has-error .control-label, .help-block {
  color: #5eff1e; }

.form-group, .radio-inline {
  position: relative; }

.glyphicon {
  position: absolute;
  top: 8px;
  line-height: 1;
  right: 20px; }

.radio-inline .glyphicon {
  position: absolute;
  top: 0;
  line-height: 1;
  right: -20px;
  color: #000; }

.top-bar {
  background: #f37125;
  color: #fff;
  padding: 2px 0;
  display: block; }
  .top-bar .contacts {
    padding: 7px 0; }
    .top-bar .contacts i {
      color: #404040;
      font-size: 18px;
      vertical-align: bottom; }
  .top-bar .links .search-form {
    display: inline-block; }
    .top-bar .links .search-form .search-field {
      outline: none;
      border: none;
      padding: 0 8px;
      height: 35px; }
    .top-bar .links .search-form .search-submit {
      margin-left: -3px;
      height: 35px;
      border: 0;
      background: #f05123;
      color: #fff;
      width: 40px; }
  @media (max-width: 767px) {
    .top-bar .links .search-form {
      display: none; } }
  .top-bar .links .link {
    margin-left: 40px; }
    .top-bar .links .link a {
      color: #fff; }
    .top-bar .links .link i {
      color: #404040;
      font-size: 16px;
      vertical-align: baseline; }

@media (max-width: 767px) {
  .top-bar {
    padding: 0 15px; }
    .top-bar .links {
      text-align: right;
      padding: 7px 15px; }
      .top-bar .links .link:nth-child(1) {
        margin-left: 0; } }
  @media (max-width: 767px) and (max-width: 430px) {
    .top-bar .contacts {
      display: none; }
    .top-bar .links {
      width: 100%; } }

.block-menu {
  position: relative; }
  .block-menu .top-menu {
    padding: 45px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
    .block-menu .top-menu .menu-toggle {
      display: none;
      background: #f37125;
      font-size: 1em;
      border: none;
      color: #fff;
      padding: 8px 15px;
      border-radius: 4px;
      font-size: 18px; }
      .block-menu .top-menu .menu-toggle:focus {
        outline: none; }
      .block-menu .top-menu .menu-toggle:hover {
        background: #df6016; }
    @media (max-width: 479px) {
      .block-menu .top-menu .menu-toggle {
        padding: 8px 13px;
        font-size: 14px; } }
  @media (max-width: 767px) {
    .block-menu .top-menu {
      position: relative; }
    .block-menu .link-to-from-reg a {
      line-height: 2 !important; } }
  .block-menu .slider-wrapper {
    z-index: -1;
    height: 80vh;
    overflow: hidden; }
    .block-menu .slider-wrapper .slide-item {
      position: relative; }
      .block-menu .slider-wrapper .slide-item img {
        width: 100%; }
      .block-menu .slider-wrapper .slide-item .bg-linear {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.97), transparent, rgba(255, 255, 255, 0)); }
  @media (max-width: 1120px) {
    .block-menu .slider-wrapper {
      height: auto; } }
  .block-menu .link-to-from-reg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center; }
    .block-menu .link-to-from-reg a {
      display: inline-block;
      border: 0;
      border-radius: 3px;
      background: #f05123;
      color: #fff;
      font-size: 1.34544rem;
      line-height: 36px;
      padding: 0 1em;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      transition: all .2s;
      line-height: 72px;
      font-size: 2.26271rem;
      padding: 0 3em; }
      .block-menu .link-to-from-reg a:hover {
        opacity: 0.8; }

@media (max-width: 1199px) {
  .block-menu .navbar {
    height: 100%;
    min-width: 250px;
    position: fixed;
    z-index: 1;
    top: 40px;
    right: -250px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px; }
    .block-menu .navbar li {
      display: block;
      padding: 10px 20px; }
      .block-menu .navbar li:hover {
        border-bottom: none; }
        .block-menu .navbar li:hover a {
          color: #f05123; }
    .block-menu .navbar .li-closebtn {
      display: block; }
      .block-menu .navbar .li-closebtn .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px; }
    .block-menu .navbar .dropdown .dropdown-content {
      position: static;
      display: none;
      background: transparent; }
      .block-menu .navbar .dropdown .dropdown-content li > a {
        color: #fff; }
    .block-menu .navbar .dropdown:hover .dropdown-content {
      display: block;
      width: auto; }
  .block-menu .menu {
    text-align: right; }
    .block-menu .menu .menu-toggle {
      display: inline-block; } }

@media (max-width: 1199px) and (max-width: 767px) {
  .block-menu .top-menu {
    padding-left: 15px;
    padding-right: 15px; }
  .block-menu .navbar {
    top: 34px; } }

/* Navbar container */
.navbar {
  padding: 0;
  margin: 0;
  text-align: left; }
  .navbar .li-closebtn {
    display: none; }
  .navbar li {
    display: inline-block;
    padding: 20px 8px; }
    .navbar li a {
      font-size: 16px;
      color: white;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600; }
    .navbar li:hover {
      border-bottom: 2px solid #f05123; }
  .navbar .dropdown i {
    color: #fff;
    padding-left: 3px;
    font-size: 16px; }
  .navbar .dropdown:hover {
    border-bottom: none; }
  .navbar .dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    width: auto; }
  .navbar .dropdown .dropdown-content {
    padding: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 62px;
    left: 0;
    background-color: #fbfbfb;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.3s;
    min-width: 200px; }
    .navbar .dropdown .dropdown-content li {
      padding: 8px 16px;
      display: block; }
      .navbar .dropdown .dropdown-content li a {
        text-transform: capitalize;
        color: black;
        text-decoration: none;
        display: block;
        text-align: left;
        font-weight: 500;
        font-size: 14px; }
      .navbar .dropdown .dropdown-content li:hover {
        background-color: rgba(221, 221, 221, 0.6);
        border: none; }

.highlight {
  padding: 75px 0;
  margin: 0;
  background: #f37125;
  color: #fff; }
  .highlight h2 {
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 40px;
    font-weight: 600; }
  .highlight .feature {
    flex: 1;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
    max-width: 230px; }
    .highlight .feature h3 {
      font-size: 7.61052rem;
      font-weight: 400;
      line-height: 1;
      color: #fff;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center; }
    .highlight .feature p {
      font-size: 1.90272rem;
      letter-spacing: -.04em;
      margin: 0; }
    .highlight .feature small {
      font-size: 1.90272rem;
      display: inline-block;
      position: relative;
      top: 5px;
      color: #fff; }

@media (max-width: 1199px) {
  .highlight {
    text-align: center; } }
  @media (max-width: 1199px) and (max-width: 991px) {
    .highlight h2 {
      font-size: 30px; } }
  @media (max-width: 1199px) and (max-width: 767px) {
    .highlight h2 {
      font-size: 24px; } }

@media (max-width: 1199px) {
    .highlight .feature {
      width: 30%;
      max-width: none; }
      .highlight .feature h3 {
        font-size: 7.61052rem; }
      .highlight .feature p {
        font-size: 1.90272rem; }
      .highlight .feature small {
        font-size: 1.90272rem; }
    .highlight .slick-prev {
      left: 15px;
      width: 40px;
      height: 40px;
      top: 40%;
      z-index: 9; }
    .highlight .slick-next {
      right: 30px;
      top: 30%;
      z-index: 9; }
    .highlight .slick-prev:before, .highlight .slick-next:before {
      font-size: 40px; } }

.info-admissions {
  padding-top: 25px; }
  .info-admissions h2 {
    font-size: 3.80535rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -1px;
    color: #f05123;
    margin: 0 0 40px;
    font-weight: 600; }
  .info-admissions .grid {
    margin: 0 -15px; }
    .info-admissions .grid .grid-item {
      margin-bottom: 25px;
      height: 160px;
      overflow: hidden; }
      .info-admissions .grid .grid-item img {
        padding-right: 20px;
        width: 49%;
        height: auto;
        display: inline-block;
        vertical-align: top; }
      .info-admissions .grid .grid-item .media_body {
        width: 50%;
        display: inline-block; }
        .info-admissions .grid .grid-item .media_body h3 {
          margin-top: 0;
          font-size: 18px;
          font-weight: 600; }
          .info-admissions .grid .grid-item .media_body h3 a {
            color: #f05123; }
        .info-admissions .grid .grid-item .media_body p {
          color: #404040;
          line-height: 1.8;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical; }
      .info-admissions .grid .grid-item .more-link a {
        color: #f05123; }
  @media (max-width: 767px) {
    .info-admissions .grid {
      margin: 0; } }
  @media (max-width: 767px) and (max-width: 479px) {
    .info-admissions .grid .grid-item {
      height: auto; }
      .info-admissions .grid .grid-item img {
        display: none; }
      .info-admissions .grid .grid-item .media_body {
        width: 100%; } }
  @media (max-width: 479px) {
    .info-admissions h2 {
      font-size: 24px; } }

.block-register {
  padding: 75px 0;
  margin: 0;
  background-image: url(http://daihoc.fpt.edu.vn/media/2016/12/form-background.png); }
  .block-register .video {
    padding: 120px 15px 120px 0; }
    .block-register .video .video_content {
      height: 385px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(http://daihoc.fpt.edu.vn/media/2016/12/video-background-e1481258016240.png); }
      .block-register .video .video_content a i {
        position: relative;
        top: -5px;
        left: 7px;
        color: #fff;
        font-size: 40px;
        padding: 35px 40px;
        border-radius: 50%;
        border: 2px solid #fff; }
  .block-register .form-register {
    background: #f05123;
    padding: 20px;
    display: inline-block;
    width: 100%; }
    .block-register .form-register h3 {
      font-size: 34px;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      color: #fff;
      font-weight: 600;
      margin-bottom: 35px; }
    .block-register .form-register input:focus {
      outline: none;
      border: 1px solid #cccccc; }
    .block-register .form-register input select:focus {
      outline: none;
      border: 1px solid #cccccc; }
    .block-register .form-register .radio-select {
      color: #fff;
      margin-bottom: 25px; }
      .block-register .form-register .radio-select h5 {
        font-weight: 600;
        margin-bottom: 15px; }
    .block-register .form-register .bt-register {
      padding: 10px 25px;
      border: 1px solid #fff;
      color: #fff;
      background: #f05123;
      transition: 0.3s;
      text-transform: uppercase;
      border-radius: 4px; }
      .block-register .form-register .bt-register:hover {
        background: #df6016; }

@media (max-width: 767px) {
  .block-register {
    padding: 30px 0; }
    .block-register .video {
      padding: 30px 15px; } }
  @media (max-width: 767px) and (max-width: 420px) {
    .block-register .form-register .form-group {
      width: 100%; }
    .block-register .video {
      display: none; } }

.teacher-ideal {
  background: #ccc;
  padding: 75px 0;
  margin: 0; }
  .teacher-ideal h2 {
    font-size: 38px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #f05123;
    margin: 0 0 40px;
    font-weight: 600; }
  .teacher-ideal .slide-ideal {
    background: #fff;
    padding: 40px;
    display: block;
    margin: 0 30px; }
    .teacher-ideal .slide-ideal .ideal-item .teacher-img {
      text-align: center; }
      .teacher-ideal .slide-ideal .ideal-item .teacher-img h3, .teacher-ideal .slide-ideal .ideal-item .teacher-img p {
        color: #f05123;
        font-weight: 600;
        text-transform: uppercase; }
      .teacher-ideal .slide-ideal .ideal-item .teacher-img h3 {
        font-size: 20px; }
      .teacher-ideal .slide-ideal .ideal-item .teacher-img p {
        font-size: 12px; }
      .teacher-ideal .slide-ideal .ideal-item .teacher-img img {
        width: 200px;
        height: 200px;
        margin: 0 auto; }
    .teacher-ideal .slide-ideal .ideal-item .ideal-content {
      padding: 30px 15px; }
      .teacher-ideal .slide-ideal .ideal-item .ideal-content p {
        font-size: 18px;
        font-style: italic;
        text-align: justify;
        line-height: 1.5; }
    .teacher-ideal .slide-ideal .slick-prev {
      font-size: 0;
      left: -45px; }
    .teacher-ideal .slide-ideal .slick-next {
      font-family: 'FontAwesome';
      font-size: 0;
      z-index: 9;
      right: -40px; }
    .teacher-ideal .slide-ideal .slick-prev:before {
      font-family: 'FontAwesome';
      content: "\f104";
      font-size: 45px;
      color: #888; }
    .teacher-ideal .slide-ideal .slick-next:before {
      font-family: 'FontAwesome';
      content: "\f105";
      font-size: 45px;
      color: #888; }

@media (max-width: 767px) {
  .teacher-ideal {
    padding: 35px 0; }
    .teacher-ideal h2 {
      font-size: 32px; }
    .teacher-ideal .slide-ideal {
      padding: 25px 15px; }
      .teacher-ideal .slide-ideal .slick-prev {
        left: 0;
        top: -70px; }
      .teacher-ideal .slide-ideal .slick-next {
        right: 15px;
        top: -70px; }
      .teacher-ideal .slide-ideal .ideal-item .teacher-img img {
        width: 120px;
        height: 120px; }
      .teacher-ideal .slide-ideal .ideal-item .teacher-img h3 {
        font-size: 18px; }
      .teacher-ideal .slide-ideal .ideal-item .teacher-img p {
        font-size: 12px; }
      .teacher-ideal .slide-ideal .ideal-item .ideal-content {
        padding: 0 15px; }
        .teacher-ideal .slide-ideal .ideal-item .ideal-content p {
          font-size: 16px;
          line-height: 1.3; } }
    @media (max-width: 767px) and (max-width: 479px) {
      .teacher-ideal .slide-ideal .ideal-item .ideal-content {
        padding: 0; }
        .teacher-ideal .slide-ideal .ideal-item .ideal-content p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 10;
          -webkit-box-orient: vertical; } }

.old-student {
  padding: 75px 0;
  margin: 0;
  background: #ededed; }
  .old-student h2 {
    font-size: 38px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #f05123;
    margin: 0 0 40px;
    font-weight: 600; }
  .old-student .slide-student .student-item img {
    width: 150px;
    height: 150px;
    margin: 0 auto; }
  .old-student .slide-student .student-item h3, .old-student .slide-student .student-item p {
    color: #f05123;
    font-weight: 600;
    text-transform: uppercase;
    text-align: justify; }
  .old-student .slide-student .student-item h3 {
    font-size: 20px; }
  .old-student .slide-student .student-item p {
    font-size: 13px; }
  .old-student .slide-student .student-item .student-content {
    font-size: 14px;
    color: #404040;
    text-transform: none;
    font-weight: 500;
    line-height: 1.8; }

@media (max-width: 767px) {
  .old-student {
    padding: 35px 15px; }
    .old-student h2 {
      font-size: 32px; }
    .old-student .slide-student .student-item img {
      width: 120px;
      height: 120px; }
    .old-student .slide-student .student-item h3, .old-student .slide-student .student-item p {
      text-align: center; }
    .old-student .slide-student .student-item h3 {
      font-size: 20px; }
    .old-student .slide-student .student-item p {
      font-size: 13px; }
    .old-student .slide-student .student-item .student-content {
      font-size: 14px;
      text-align: justify; } }

.company-career {
  padding: 75px 0;
  margin: 0;
  background: #ccc; }
  .company-career h2 {
    font-size: 38px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #f05123;
    margin: 0 0 40px;
    font-weight: 600; }
  .company-career .slide-company {
    margin-bottom: 45px; }
    .company-career .slide-company .slick-prev {
      font-size: 0;
      left: -25px; }
    .company-career .slide-company .slick-next {
      font-family: 'FontAwesome';
      font-size: 0;
      z-index: 9;
      right: -25px; }
    .company-career .slide-company .slick-prev:before {
      font-family: 'FontAwesome';
      content: "\f104";
      font-size: 45px;
      color: #888; }
    .company-career .slide-company .slick-next:before {
      font-family: 'FontAwesome';
      content: "\f105";
      font-size: 45px;
      color: #888; }
    .company-career .slide-company .company-item {
      margin: 0 20px; }
      .company-career .slide-company .company-item .company-info {
        background: #f37125;
        color: #fff;
        position: relative;
        padding: 20px 0 100px;
        max-width: none;
        margin-right: 0;
        text-align: center; }
        .company-career .slide-company .company-item .company-info img {
          width: 150px;
          height: 150px;
          margin: 0 0 0 -75px;
          position: absolute;
          bottom: -75px;
          left: 50%; }
        .company-career .slide-company .company-item .company-info h3 {
          font-size: 20px;
          font-weight: 600;
          text-transform: uppercase;
          color: #fff;
          padding: 0 15px; }
        .company-career .slide-company .company-item .company-info p {
          text-transform: uppercase;
          padding: 0 15px; }
      .company-career .slide-company .company-item .company-content {
        font-size: 1.6rem;
        font-style: normal;
        padding: 100px 20px 20px;
        background: #fff;
        color: #404040;
        line-height: 1.8;
        text-align: justify; }
  .company-career .slide-logo {
    /*padding:0 15px;*/ }
    .company-career .slide-logo img {
      max-width: 100%;
      padding: 15px; }

@media (max-width: 767px) {
  .company-career {
    padding: 35px 0; }
    .company-career h2 {
      font-size: 32px; }
    .company-career .slide-company {
      margin: 0 -15px 35px -15px; }
      .company-career .slide-company .slick-prev {
        left: 15px;
        top: -70px; }
      .company-career .slide-company .slick-next {
        right: 15px;
        top: -70px; }
      .company-career .slide-company .company-item .company-info {
        padding: 20px 0 55px; }
        .company-career .slide-company .company-item .company-info img {
          width: 110px;
          height: 110px;
          margin: 0 0 0 -55px;
          bottom: -55px; }
      .company-career .slide-company .company-item .company-content {
        padding-top: 65px; }
        .company-career .slide-company .company-item .company-content p {
          line-height: 1.5; } }

.footer {
  margin-top: 45px; }
  .footer .site-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 25px;
    border-bottom: 1px solid #f05123; }
    .footer .site-info .socials {
      padding: 0;
      margin: 0;
      list-style: none; }
      .footer .site-info .socials li {
        display: inline-block;
        font-size: 1.6rem;
        line-height: 1.5; }
        .footer .site-info .socials li a {
          text-indent: -9999em;
          display: block;
          white-space: nowrap; }
        .footer .site-info .socials li a:before {
          display: inline-block;
          font-family: 'FontAwesome';
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\f14d";
          width: 40px;
          height: 40px;
          border-radius: 3px;
          text-align: center;
          background: rgba(0, 0, 0, 0.2);
          color: #fff;
          transition: all .5s;
          text-indent: 0;
          float: left;
          padding: 10px 0; }
        .footer .site-info .socials li a[href*="facebook.com"]:before {
          content: "\f09a";
          background: #3b5998; }
        .footer .site-info .socials li a[href*="plus.google.com"]:before {
          content: "\f0d5";
          background: #dd4b39; }
        .footer .site-info .socials li a[href*="youtube.com"]:before {
          content: "\f167";
          background: #cd201f; }
  .footer .address {
    margin: 30px -15px 50px -15px;
    display: inline-block; }
    .footer .address .addr-item h4 {
      margin-bottom: 5px;
      color: #f05123;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px; }

@media (max-width: 767px) {
  .footer .site-info {
    text-align: center;
    padding: 15px; }
    .footer .site-info .socials {
      width: 100%;
      text-align: center; }
  .footer .address {
    margin-left: 0;
    margin-right: 0; } }
  @media (max-width: 767px) and (max-width: 360px) {
    .footer .address .addr-item {
      width: 100%; } }

