﻿
.wwa-body {
    margin-top: 50px;
    margin-bottom: 22px;
    padding: 0;
}

.main-slide-item {
    position: relative;
    /*min-height: 515px;*/
    outline: none !important;
}

.header h5 {
    font-family: OpenSans-Light, Arial,sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #3a3a3a;
}

.header h1 {
    font-family: OpenSans-ExtraBold, Arial,sans-serif;
    color: #3a3a3a;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 30px;
    margin-bottom: 25px;
}

.content div {
    font-family: OpenSans-Bold, Arial,sans-serif;
    color: #4a4a4a;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 24px 0;
    text-align: justify;
}

@media(max-width:767px) {
    .slide-desc-outer {
        width: 100%;
        text-align: center;
    }

    .slide-desc h4 span:nth-child(1) {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    .slide-desc h5 span {
        font-size: 40px !important;
    }
}
.wwa-header {
    margin-top: 65px;
}

    .wwa-header h2 {
        font-family: Lato-Black,Arial,sans-serif;
        font-size: 48px;
        color: #000;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        margin: 0;
    }

        .wwa-header h2:after {
            position: absolute;
            content: '';
            height: 2px;
            bottom: -40px;
            margin: 0 auto;
            left: 0;
            width: 50%;
            background: #63a744;
        }

.wwa-title {
    font-family: Lato-Regular,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 70px;
    margin-bottom: 10px;
}

.wwa-desc {
    font-family: OpenSans-Light,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.3;
    text-align: justify;
    color: #3a3a3a;
}

.img-header {
    width: 100%;
    margin-bottom: 15px;
    border: 8px solid #fff;
    box-shadow: 1px 1px 5px 1px rgba(204, 204, 204, 0.71);
}

.statistical {
    text-align: center;
    background-color: #000;
    background-image: url('../images/publics/Banners/banner-about-2.png');
    background-repeat:no-repeat;
    background-size:auto 100%;
    padding:100px 0;
    margin:45px 0;
}

.statistical-item {
    display: inline-block;
    width: auto;
    padding: 0 40px;
}

    .statistical-item p:nth-child(1) {
        font-family: OpenSans-ExtraBold,Arial,sans-serif;
        font-size: 62px;
        color: #fff;
        margin-bottom: -15px;
    }

    .statistical-item p:nth-last-child(1) {
        font-family: OpenSans,Arial,sans-serif;
        font-size: 26px;
        color: #fff;
        margin-bottom: 0;
        text-transform:uppercase;
    }





.list-emp {
	display:none;
    margin-top: 60px;
    margin-bottom: 50px;
    /*display: inline-block;*/
    /*height: 335px;
    overflow: hidden;*/
    position: relative;
}
.emp-item{
    margin-bottom:35px;
}
.emp-img img {
    width: 100%;
    transition: 0.3s;
    border:6px solid #fff;
    box-shadow:1px 1px 5px 1px rgba(204, 204, 204, 0.65);
}

.emp-name {
    font-family: OpenSans-Bold,Arial,sans-serif;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.emp-position {
    font-family: OpenSans,Arial,sans-serif;
    font-size: 12px;
    color:#ff8400
}


.see-more {
    text-align: center;
}

    .see-more button {
        font-family: Lato-Bold,Arial,sans-serif;
        font-size: 12px;
        background-color: #63965e;
        color: #fff;
        text-transform: uppercase;
        border-radius: 12px;
        border: 1px solid #ebebeb;
        padding: 8px 20px;
        transition: 0.3s;
    }

        .see-more button:hover {
            background-color: #fff;
            color: #63965e;
            border: 1px solid #63965e;
        }

        .see-more button:focus {
            outline: none;
        }


.item-hide {
    opacity: 0;
    transition: 0.5s;
}

.show-full {
    height: auto !important;
}

    .show-full .item-hide {
        opacity: 1;
    }

.slick-next {
    content: '';
    right: 0;
    top: -40px;
    z-index: 1;
}

.slick-prev {
    content: '';
    left: 100%;
    top: -40px;
    z-index: 1;
    -moz-transform: translate(-70px, -15px);
    -ms-transform: translate(-70px, -15px);
    -o-transform: translate(-70px, -15px);
    -webkit-transform: translate(-70px, -15px);
    transform: translate(-70px, -15px);
}

.slick-arrow, .slick-arrow:hover, .slick-arrow:active, .slick-arrow:focus {
    width: 30px;
    height: 30px;
}

.slick-next:before {
    font-family: FontAwesome;
    content: '\f105';
    color: #000;
    font-size: 40px;
}

.slick-prev:before {
    font-family: FontAwesome;
    content: '\f104';
    color: #000;
    font-size: 40px;
}

.slick-slide:focus {
    outline: none;
}

@media(max-width:1024px) {
    .wwa-header h2 {
        font-size: 42px;
    }
}

@media(max-width:991px) {
    .wwa-header {
        margin-top: 45px;
    }

    .col-md-7 .wwa-desc {
        font-size: 16px !important;
    }

    .img-header {
        margin-top: 20px;
    }
}

@media(max-width:767px) {
    .wwa-body {
        padding: 0;
    }

}

@media(max-width:479px) {
    .wwa-header h2 {
        font-size: 40px;
    }
    .statistical{
        padding:45px 0;
    }
}
@media (max-width: 420px) {
    .header h1, .header h5{
        text-align:center;
    }
}
@media (max-width: 380px) {
    .wwa-header h2 {
        font-size: 32px;
    }
}

@media(max-width:320px) {
    .wwa-header h2 {
        font-size: 26px;
    }

    .wwa-desc {
        text-align: justify;
    }
}
