<template>
    <div>
        <ul v-if="danh_sach_bai_viet.length">
            <li v-bind:id="baiviet.id" v-for="baiviet in danh_sach_bai_viet" :key="baiviet.id">
                {{baiviet.body}}
            </li>
        </ul>
        <div v-else><img src="https://media.tenor.com/images/1f0521020b6e6ed69896d02906e84b8e/tenor.gif"/></div>
    </div>  
</template>

<script>
    export default {
        data() {
            return {
                danh_sach_bai_viet: []
            }
        },
        created() {
           this.getArticles();
        },
        mounted() {
            
        },
        methods: {
            getArticles(){
                fetch('api/article')
                .then(response => {
                return response.json();
                }).then(json =>{
                    this.danh_sach_bai_viet = json;   
                });
            }
        },
    }
</script>