<template>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Thêm Mới</h3>
                    <div id="app" class="col-md-12">  
                        <div>
                            <form id="frm-create-student" method="POST" @submit="postStudents">      
                                <div class="form-group">
                                    <label for="name">Họ Tên</label>
                                    <input type="text" class="form-control" id="name" name="name" v-model="student.name" required>
                                </div>
                                <div class="form-group">
                                    <label for="code">Code</label>
                                    <input type="text" class="form-control" id="code" name="code" v-model="student.code" required>
                                </div>
                                <div class="form-group">
                                    <label for="birthday">Ngày Sinh</label>
                                    <input type="date" class="form-control" id="birthday" name="birthday" v-model="student.birthday" required>
                                </div>
                                <div class="form-group">
                                    <label for="indentity_card">Indentity Card</label>
                                    <input type="text" class="form-control" id="indentity_card" name="indentity_card" v-model="student.indentity_card" required>
                                </div>
                                <div class="form-group">
                                    <label for="department_id">Department</label>
                                    <select class="form-control" id="department_id" name="department_id" v-model="student.department_id" required>
                                        
                                        <option v-if="student.department_id" value=""> -- chọn -- </option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                                <router-link class="btn btn-sm btn-warning" to="/vue/students">Quay lại</router-link>
                                <button type="button" v-on:click="testAlert(1,2)" id="bt-test" class="btn btn-sm btn-primary" name="">test</button>
                                <button type="submit" class="btn btn-sm btn-primary" name="submit-create-student">Cập nhật</button>
                            </form>
                            <strong>Output:</strong>
                            <pre>
                            {{output}}
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</template>

<script>
    export default {
        data() {
            return {
                student:{
                    id:"",
                    name:"",
                    code:'',
                    birthday:'',
                    indentity_card:'',
                    department_id:'',
                },
                output: ''                
            }
        },
        created() {

        },
        mounted() {
            this.getStudentById();
        },  
        methods: {

            testAlert(a,b){
                alert(a + b);
            }, 

            getStudentById(){
                let currentObj = this;
                axios.get('/api/vue/editstudent/'+ this.$route.params.id +'', {
                })
                .then(function (response) {
                    currentObj.output = response.data;
                    currentObj.student = response.data;
                })
                .catch(function (error) {
                    currentObj.output = error;
                });
            },

             postStudents(e){
                e.preventDefault();
                let currentObj = this;

                var data = {
                    name:this.name,
                    code:this.code,
                    birthday:this.birthday,
                    indentity_card:this.indentity_card,
                    department_id:this.department_id,
                    _token:$('input[name="_token"]').val(),
                };

                axios.post('/api/vue/postCreatestudent', {
                    name:this.name,
                    code:this.code,
                    birthday:this.birthday,
                    indentity_card:this.indentity_card,
                    department_id:this.department_id,
                    _token:$('input[name="_token"]').val(),
                })
                .then(function (response) {
                    currentObj.output = response.data;
                    currentObj.student = response.data;
                })
                .catch(function (error) {
                    currentObj.output = error;
                });
            }
        },
    }
</script>