<template>
    <div>
        <ul>
            <li>
                <router-link class="btn btn-sm btn-default" to="/vue/students">Danh sách sinh viên</router-link>
            </li>
            <li>
                <router-link class="btn btn-sm btn-primary" to="/vue/createstudent">Thêm sinh viên</router-link>
            </li>
        </ul>
    </div>

</template>

<script>
    export default{

    }
</script>