<template>
    <div>
        <!-- Trigger the modal with a button -->
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Student Info</h4>
                    </div>
                    <div class="modal-body">
                        <div v-if="student != null">
                            <p>{{student.name}}</p>
                            <p>{{student.code}}</p>
                            <p>{{student.birthday}}</p>
                            <p>{{student.indentity_card}}</p>
                            <p>{{student.department_id}}</p>

                            <div class="form-group">
                                <label for="name">Họ Tên</label>
                                <input type="text" class="form-control" id="name" ref="name" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="code">Code</label>
                                <input type="text" class="form-control" id="code" ref="code" name="code" required>
                            </div>
                            <div class="form-group">
                                <label for="birthday">Ngày Sinh</label>
                                <input type="date" class="form-control" id="birthday" ref="birthday" name="birthday" required>
                            </div>
                            <div class="form-group">
                                <label for="indentity_card">Indentity Card</label>
                                <input type="text" class="form-control" id="indentity_card" ref="indentity_card" name="indentity_card" required>
                            </div>
                            <div class="form-group">
                                <label for="department_id">Department</label>
                                <select class="form-control" id="department_id" name="department_id" ref="department_id" required>
                                    <option value=""> -- chọn -- </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                        </div>              
                    </div>
                    <div class="modal-footer">
                        <button type="button" v-on:click="addOject()" class="btn btn-warning">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Modal',
        props: {
            student: {
                type: Object,
                required: true
            }
        },
        methods : {
            addOject() {
                let name = this.$refs.name.value;
                let code = this.$refs.code.value;
                let birthday = this.$refs.birthday.value;
                let indentity_card = this.$refs.indentity_card.value;
                let department_id = this.$refs.department_id.value;

                let params = {
                    'name':name,
                    'code': code,
                    'birthday': birthday,
                    'indentity_card': indentity_card,
                    'department_id': department_id,
                };
                this.$emit('addStudent',params);
            }
        }
    }
</script>
