<template>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="topnav">
                        <div class="search-container">
                            <form action="/search" method="GET">
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div>
                            <div class="block-action">
                            <ul class="pull-right" style="list-style-type: none;">
                                <li>
                                    <router-link class="btn btn-sm btn-primary" to="/vue/createstudent">Thêm</router-link>
                                </li>
                            </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="list-item">
                                <ul v-if="students.data.length">
                                    <li class="" v-bind:id="student.id" v-for="student in students.data" :key="student.id">
                                        <a href="javascript:;" data-toggle="modal" data-target="#myModal" v-on:click="getDetailStudent(student.id)">
                                            {{student.name}} 
                                        </a>
                                        <ul class="pull-right" style="list-style-type: none;">
                                            <li style="display:inline-block">
                                                <router-link class="btn btn-xs btn-warning" :to="`/vue/editstudent/${student.id}`"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></router-link>
                                            </li>
                                            <li style="display:inline-block">
                                                <router-link class="btn btn-xs btn-danger" :to="`/vue/deletestudent/${student.id}`"><i class="fa fa-trash-o" aria-hidden="true"></i></router-link>
                                            </li>
                                        </ul>
                                        <br>
                                        <br>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                                <div v-else><img src="https://media.tenor.com/images/1f0521020b6e6ed69896d02906e84b8e/tenor.gif"/></div>
                            </div>
                            <vue-pagination 
                                :pagination="students"
                                @paginate="getStudents()">
                            </vue-pagination>
                        </div>
                    </div>

                    <!--<div v-if="showDetail==true">
                        <p>{{studentDetail.name}}</p>
                        <p>{{studentDetail.birthday}}</p>
                        <p>{{studentDetail.code}}</p>
                        <p>{{studentDetail.indentity_card}}</p>
                        <p>{{studentDetail.department_id}}</p>
                    </div>
                    <div v-else>no-hello</div>   -->  

                    <Modal :student="studentDetail" @addStudent="addStudentNew($event)"></Modal>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                students: {
                    'current_page':1,
                    'data':[],
                },
                showDetail:false,
                studentDetail:{
                }
            }
        },
        created() {
           /* console.log("created"); */
        },
        mounted() {
            /* console.log("mounted"); */
            this.getStudents();
        },  
        updated() {
           console.log("updated");
        },

        methods: {

            getDetailStudent(id){
                let studentData = this;
                axios.get('/api/vue/editstudent/'+ id +'', {
                })
                .then(function (response) {
                    studentData.studentDetail = response.data;
                    studentData.showDetail = true;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            getStudents(){
                fetch('/api/vue/students?page=' + this.students.current_page)
                .then(response => {
                    return response.json();
                }).then(json =>{
                    this.students = json;
                });
            },

            addStudentNew(params){
                let object = this;
                axios.post('/api/vue/postCreatestudent', {
                    name:params.name,
                    code:params.code,
                    birthday:params.birthday,
                    indentity_card:params.indentity_card,
                    department_id:params.department_id,
                    _token:$('input[name="_token"]').val(),
                })
                .then(function (response) {
                    object.getStudents();

                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        },
    }
</script>