﻿@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.otf') format('opentype'), url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.svg') format('svg'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Lato-Black';
    src: url('../../fonts/WebFont/Lato-Black/Lato-Black.ttf') format('truetype'), url('../../fonts/WebFont/Lato-Black/Lato-Black.eot') format('embedded-opentype'), url('../../fonts/WebFont/Lato-Black/Lato-Black.svg') format('svg'), url('../../fonts/WebFont/Lato-Black/Lato-Black.woff') format('woff');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../../fonts/WebFont/Lato-Light/Lato-Light.ttf') format('truetype'), url('../../fonts/WebFont/Lato-Light/Lato-Light.woff') format('woff'), url('../../fonts/WebFont/Lato-Light/Lato-Light.svg') format('svg'), url('../../fonts/WebFont/Lato-Light/Lato-Light.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/WebFont/Lato-Bold/Lato-Bold.ttf') format('truetype'), url('../fonts/WebFont/Lato-Bold/Lato-Bold.woff') format('woff'), url('../fonts/WebFont/Lato-Bold/Lato-Bold.svg') format('svg'), url('../fonts/WebFont/Lato-Bold/Lato-Bold.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/WebFont/Lato-Regular/Lato-Regular.ttf') format('truetype'), url('../fonts/WebFont/Lato-Regular/Lato-Regular.woff') format('woff'), url('../fonts/WebFont/Lato-Regular/Lato-Regular.svg') format('svg'), url('../fonts/WebFont/Lato-Regular/Lato-Regular.eot') format('embedded-opentype');
}



.block-breadcrumb{
    display:block;
    height:45px;
    background-color:#f7f7f7;
    margin:0;
}
.breadcrumb{
    margin:0;
    padding:12px 15px;
}
.breadcrumb li a{
    font-family:Lato-Light,Arial,sans-serif;
    font-size:12px;
    text-transform:uppercase;
    font-weight:600;
    color:#000;
    text-decoration:none;
}
.breadcrumb li.active{
    color:#63965e;
}

.breadcrumb > li + li:before {
    font-family:FontAwesome;
    color: #3b3b3b;
    content: "\f111";
    font-size: 11px;
}